.day-container{
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-between;
}

.artist-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 200px;
    padding: 20px;
    margin: 15px;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
}

.artist-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 60px;

}