li {
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

li:hover {
    color: rgb(3, 215, 253);

}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(3, 215, 253);
}

.dog-list {
text-decoration: none;
display: flex;
border: 2 px solid rgb(70, 155, 28);
flex-wrap: wrap;
}

.dog-list-inner {
    width: 100%;
    display: flex;
}

@media (max-width: 820px){
    li {
        display: flex;
        color: white;
        text-decoration: none;
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
    
    .dog-list {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    border: 2 px solid rgb(70, 155, 28);
    flex-wrap: wrap;
    gap: 0;
    margin: 0;
    padding: 0;
    }
    
    .dog-list-inner {
        width: 100%;
        display: flex;
    }


    }

