.dog-container{
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
.photo-box{
    border: 2px solid blue;
    width: 100%;
    display: flex;
    border-radius: 15px;
    justify-content: center;
}

img {
    max-width: 90vw;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

