li {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.dog-list {
text-decoration: none;
display: flex;
border: 2 px solid rgb(70, 155, 28);
flex-wrap: wrap;
}

.dog-list-inner {
    width: 100%;
    display: flex;
    font-size:;
}

