.full-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    background-color: rgba(190, 44, 44, 0.315);
}

.logo {
    display: flex;
    align-items: center;
    color: rgb(38, 228, 228);
}

.search-context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 15px;
    color: aqua;
}

.random {
    display: flex;
}

#button-random {
    background-color:rgb(227, 194, 170);
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    color:rgb(2, 52, 52);
    font-weight: 900px;
    font-size:larger;
}