
img {
    max-width: 40vw;
    max-height: 25vw;
    border-radius: 15px;
    border: 10px solid rgba(11, 11, 11, 0.766);
}

.dog-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px;
    text-align: center;
}

.photo-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    gap: 10px;
    margin: 0 auto;
}

.breed-header {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#another {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    font-weight: 900px;
    background-color: rgba(164, 164, 242, 0.572);
    border-radius: 4px;
}

button, #another :hover {
    background-color: white;
    cursor: pointer;
}

